.contenedorGradiante1
{
    width:250px;
    padding-top:100px;
    height:250px;
    background: -webkit-linear-gradient(top, rgb(206, 6, 6), #666666)

   
}
.contenedorGradiante2
{
    width:250px;
    padding-top:100px;
    height:250px;
    background: -webkit-linear-gradient(bottom, rgb(148, 28, 28), #666666)

   
}
