
*
{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
/*================================================================*/
/*Estilos para la cabecera*/
header
{
    height: 50px;
    background-color:rgb(43, 43, 129);
}
header > div
{
    padding-top:10px;
    font-size:24px;
    text-align:center;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}
/*Fin de los estilos de la cabecera*/
/*================================================================*/
/*Estilos para la navegación principal*/
nav
{
    height: 30px;
    background-color:rgb(84, 84, 155);
    box-sizing: border-box;
    
}

nav > div
{
    padding-top: 5px;
    padding-right: 35px;
    font-weight: bold;
    font-size: 18PX;
    box-sizing: border-box;
}
nav  a 
{
    text-decoration: none; 
    color: aliceblue;
}

nav > div > div
{   
    display: inline-block;
}


nav > div 
{
    text-align: right;
    
}


nav > div div:last-child
{
    background-color: green;
}

/*Fin de los estilos de navegación principal*/
/*================================================================*/
/*Estiloa para el main*/
main
{
    display:flex;
    box-sizing: border-box;
    min-height: 100vh;
}

/*Fin para los estilos main*/
/*================================================================*/
/*Estilos para el aside*/
aside
{
    flex:1;
    box-sizing: border-box;
    height:auto;

    
}

aside > div
{
    box-sizing: border-box;
}

aside > div li
{
    padding: 4px 0 0 25px;
    box-sizing: border-box;
}

aside > div li a
{
    text-decoration: none;
}

aside > div li a:hover
{
   color: rgb(83, 83, 168);
   font-weight: bold;
   font-size:16px;
  
}

.contenedorLista:click
{
   background-color:red;
}

.contenedorLista:hover
{
    width:100%;
    padding: 1px 0px 5px;
    border-top:solid 1px rgba(151, 127, 127, 0.4);
    border-bottom: solid 3px rgba(0, 0, 0, 0.6);
    background-color: rgba(26, 25, 25, 0.5);
    text-indent: 25px;
    border-radius: 0px 20px 20px 0px;
}


/*Fin para los estilos aside*/
/*================================================================*/
/*Estilos para el section*/
section
{
    flex:3;
    background-color: rgb(237, 237, 245);
    box-sizing: border-box;
    min-height: auto;

    box-shadow: rgba(53, 53, 54, 0.5) -5px 0px 5px 3px;
}
section div
{
    width:auto;
    box-sizing: border-box;
    overflow:visible;
    min-height:100vh;
    
}
iframe
{
    width:100%;
    box-sizing: border-box;
    overflow:visible;

    min-height: 100vh;
    height: 100%;
}
.contenedorPagina
{
    
    box-sizing: border-box;
    padding:20px 40px;
    min-height:auto;
    
}
.contenedorPagina .tituloUno
{
    font-family: georgia, arial, helvetica;
    padding: 0px 25px;
    font-weight: bold;
}
.contenedorPagina .tituloDos
{
    text-indent: 35px;
    font-family: monospace;
} 
h2 + pre > div
{
    color:rgb(18, 18, 21);
    font-weight: bold;
    font-size:14px;
    font-style: italic;
    width:50%;
    background-color:rgb(83, 83, 168,0.2);
    border:dashed 1px;
    border-radius:5px;
    margin-left: 80px;
}
pre > div ~ span
{
    color:rgb(16, 12, 47);
    font: 12px verdana;
    line-height: 1.5;
}
/*Fin para los estilos section*/
/*================================================================*/
/*Estilos pie de la página*/
footer
{
    height: 75px;
    padding: 25px;
    box-sizing: border-box;
    background-color:rgb(43, 43, 129);
    color:aliceblue;
    font: bold 16px verdana, arial, helvetica;
    text-align:center;
    vertical-align: center;
}
/*Fin de estilos de la página*/
/*================================================================*/